/*
 * Device tree overlay for TC358746 Parallel to CSI-2 bridge on RK3566
 *
 * Toshiba TC358746AXBG - Parallel video to MIPI CSI-2 bridge
 * Can be used with parallel HDMI decoder chips or parallel camera sensors
 *
 * Compatible with Radxa Zero 3W and similar RK3566-based boards
 * Uses I2C2 and CSI2 DPHY0 in full mode (2 lanes)
 *
 * Copyright (c) 2024 MYSh LLC
 */
/dts-v1/;
/plugin/;

#include "dt-bindings.h"

/ {
	compatible = "rockchip,rk3566";

	metadata {
		title = "TC358746 Parallel to CSI-2 Bridge";
		category = "camera";
		exclusive = "csi2_dphy0";
		description = "Enable Toshiba TC358746 parallel video to CSI-2 bridge on CSI2 DPHY0";
	};
};

&{/} {
	/* TC358746 reference clock - 26MHz */
	tc358746_refclk: tc358746-refclk {
		status = "okay";
		compatible = "fixed-clock";
		clock-frequency = <26000000>;
		clock-output-names = "tc358746_refclk";
		#clock-cells = <0>;
	};

	/* Power supply for TC358746 */
	tc358746_vdd: tc358746-vdd {
		status = "okay";
		compatible = "regulator-fixed";
		regulator-name = "tc358746_vdd";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};
};

&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2m1_xfer>;
	#address-cells = <1>;
	#size-cells = <0>;

	tc358746: tc358746@0e {
		status = "okay";
		compatible = "toshiba,tc358746";
		reg = <0x0e>;
		clocks = <&tc358746_refclk>;
		clock-names = "refclk";

		/* Reset GPIO */
		reset-gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_LOW>;

		/* Power supplies */
		vddc-supply = <&tc358746_vdd>;
		vddio-supply = <&tc358746_vdd>;
		vddmipi-supply = <&tc358746_vdd>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "tc358746-bridge";
		rockchip,camera-module-lens-name = "parallel-input";

		port@0 {
			reg = <0>;
			/* Parallel input port - connect to source */
			tc358746_in: endpoint {
				/* Configure based on your parallel video source */
				bus-width = <8>;
				hsync-active = <1>;
				vsync-active = <1>;
				pclk-sample = <1>;
			};
		};

		port@1 {
			reg = <1>;
			/* CSI-2 output port */
			tc358746_out: endpoint {
				remote-endpoint = <&mipi_in_ucam0>;
				data-lanes = <1 2>;
				clock-lanes = <0>;
				clock-noncontinuous;
				link-frequencies = /bits/ 64 <216000000>;
			};
		};
	};
};

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam0: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&tc358746_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy0_out: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&isp0_in>;
			};
		};
	};
};

&rkisp_vir0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp0_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&dphy0_out>;
		};
	};
};

&rkisp {
	status = "okay";
};

&rkisp_mmu {
	status = "okay";
};

&rkcif_mmu {
	status = "okay";
};

&rkcif {
	status = "okay";
};
